:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #3b3b50;
  color: #fdfdfd;
}
option {
  color: #fdfdfd;

  background-color: #1e293b;
}
option:disabled {
  display: none;
}
